
.img__size {
    width:100%;
    height:720px;
  }

.img__size-ancho {
 width: 30%;
}
aside {
    float: right;
    text-align: right;
    width: 70%;
}

.img__left {
    float:left;
}

.img__left-size {
    width: 25%;
    height: 375px;
}

.aside__table {
    float: right;
    text-align: right;
    width: 70%;   
}

.imgContainer h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}
