* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'quicksand';
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

@import "nav-bar";

@import "footer";

@import "services";

@import  "asignatures";

@import "other";


